@import url('https://fonts.googleapis.com/css?family=Mina');

h3{
	float: left;
	padding-left: 100px;
}

.grid-container{
  	display: inline-grid;
  	grid-template-columns: auto auto;
  	grid-gap: 10px;
  	padding: 10px;
  	justify-content: stretch;
  	align-content: center;
}

.cap-img{
	font-family: 'Mina', sans-serif;
	width: 500px;
	height: 100px;
	word-wrap: break-word;
	font-size: 25px;
}

.catch-r{
	font-family: 'Spectral SC', serif;
	font-size: 20px;
	color: white;
}

span{
	background-color: black;
}